/* globals.css */
body.drawer-open {
    margin-right: 355px; /* Ajuste a margem do corpo para a esquerda */
    transition: margin-right 0.3s ease; /* Adicione uma transição suave */
  }
  
  main {
    transition: margin-right 0.3s ease; /* Adicione uma transição suave para o main também */
  }
  